.comparison-table {
    margin: 50px auto;
    width: 80%;
    max-width: 1000px;
    background-color: #020202;
    border: 1px solid #131212;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  .comparison-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
  }
  
  .comparison-table th,
  .comparison-table td {
    padding: 10px;
    text-align: center;
  }
  
  .comparison-table th {
    background-color: #0e0d0d;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  
  .comparison-table tbody tr:nth-child(even) {
    background-color: #111111;
  }
  
  .comparison-table td:first-child {
    font-weight: bold;
    text-align: left;
  }
  
  .comparison-table .highlight {
    background-color: #1b51c467;
    color: #fff;
  }
  
  .comparison-table .highlight:hover {
    background-color: #1b51c467;
  }
  